:root{
  --color-1: #78221f;
  --color-2: #ffc107;
	--color-3: #d9d9d9;
}
#header_top{
  background-color: #333;
  color: #fff;
}
#header_bottom{
  background-image: linear-gradient(to left, #ebece9, #eee) ;
}
#menu a{
  color: var(--color-1)!important;
}
#slide-background{
  background-color: var(--color-1);
  background-image: url(../img/bg_pattern.png);
}
.main_item{
	background-color: var(--color-3);
}
.product_container{
	background-color: white;
}
.menu_jr .nav-link {
	color: var(--color-1)!important;
}


